body {
  margin: 20px;
}

/* Cart-box and Receipt-box formatting */
.placeOrderHolder,
.receiptHolder {
  width: 350px;
  height: 400px;
  margin: 20px;
  float: left;
  padding: 10px;
  border: solid 3px black;
  border-radius: 5% 5% 5% 5%;
}

.receiptHolder {
  width: 300px;
}

button {
  width: 120px;
}

.price {
  width: 50px;
}

.qty {
  width: 25px;
}

.receiptTab {
  width: 250px;
  visibility: hidden;
  margin: 0 auto;
}

td {
  padding: 5px 5px 5px 5px;
  text-align: center;
}

.product,
.rProduct {
  text-align: left;
}

.price {
  text-align: center;
}

.rPrice,
.gst,
.totalPrice {
  text-align: right;
}
